.person-details {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    background-color: #00a1ff;
    font-family: system-ui;
    & > div {
        display: flex;
        padding: 10px;
        background-color: white;
        flex-wrap: wrap;
        & > div {
            padding: 10px 15px;
    }
    }
    .image-container {
        flex: 2;
        img {
            width: 200px;
            height: 200px;
        }
    }
    .details-container {
        flex: 3;
        h2 {
            color: #5f5555;
        }
        .details-flex {
            display: flex;
            flex-direction: column;
            & > div {
                display: flex;
                flex-direction: row;
                padding: 5px 0px;
                & :first-child {
                    flex: 1;
                }
                & :last-child {
                    flex: 2;
                }
            }
        }
    }
    .profession-container {
        flex: 2;
        & > div {
            padding: 5px 0px;
        }
    }
    .friends-container {
        flex: 3;
        & > div {
            padding: 5px 0px;
        }
    }
    h3 {
        color: lightgray;
        overflow: hidden;
    }
    h3:after {
        content: "";
        display: inline-block;
        width: 60%;
        height: 100%;
        margin-right: -100%;
        border-bottom: 1px solid lightgray;
    }
}
